/*Normally I would use a UI framework like Material/Tailwind, etc.*/

.search {
    height: 3em;
    line-height: 3em;
    border-radius: 15px;
    border: 2px solid #d1d5db;
    font-size: 1.5em;
    padding: 1em;
    width: 100%;
}

.search:focus {
    border: 2px solid #d1d5db;
    outline: none;
}

.show {
    visibility: visible;
    margin-bottom: 1em;
}

.hide {
    visibility: hidden;
    margin-bottom: 1em;
}

.red {
    color: red;
}
